/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.heroBanner {
  background: url("/img/joy-banner.jpeg") center/cover no-repeat; /* 배경 이미지 적용 */
  min-height: 70vh;
  display: flex;
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    min-height: 25vh;
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
